In [1]:
import pandas as pd
from sqlalchemy import create_engine
import requests
import json

# California Data

In [2]:
#data collected from https://www.cde.ca.gov/ds/sd/sd/filesabd.asp
#https://www.oregon.gov/ode/reports-and-data/students/Pages/Student-Enrollment-Reports.aspx

url= "http://dq.cde.ca.gov/dataquest/dlfile/dlfile.aspx?cLevel=School&cYear=2019-20&cCat=Enrollment&cPage=filesenr.asp"
ca_enrollment_data = pd.read_table(url)
ca_enrollment_data

,CDS_CODE,COUNTY,DISTRICT,SCHOOL,ETHNIC,GENDER,KDGN,GR_1,GR_2,GR_3,...,GR_7,GR_8,UNGR_ELM,GR_9,GR_10,GR_11,GR_12,UNGR_SEC,ENR_TOTAL,ADULT
0,7617966119515,Contra Costa,West Contra Costa Unified,Hercules Middle,6,F,0,0,0,0,...,15,17,0,0,0,0,0,0,48,0
1,7617966119515,Contra Costa,West Contra Costa Unified,Hercules Middle,1,M,0,0,0,0,...,1,0,0,0,0,0,0,0,2,0
2,7617966119515,Contra Costa,West Contra Costa Unified,Hercules Middle,3,F,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
3,7617966119515,Contra Costa,West Contra Costa Unified,Hercules Middle,4,F,0,0,0,0,...,15,23,0,0,0,0,0,0,67,0
4,7617966119515,Contra Costa,West Contra Costa Unified,Hercules Middle,5,F,0,0,0,0,...,24,26,0,0,0,0,0,0,80,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131611,37681303732625,San Diego,Grossmont Union High,Grossmont High,7,M,0,0,0,0,...,0,0,0,141,138,111,120,0,510,0
131612,37681890000001,San Diego,Lakeside Union Elementary,"Nonpublic, Nonsectarian Schools",6,F,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
131613,37681890000001,San Diego,Lakeside Union Elementary,"Nonpublic, Nonsectarian Schools",7,F,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
131614,37681890000001,San Diego,Lakeside Union Elementary,"Nonpublic, Nonsectarian Schools",5,M,0,0,0,0,...,0,1,0,0,0,0,0,0,2,0
131615,37681890000001,San Diego,Lakeside Union Elementary,"Nonpublic, Nonsectarian Schools",7,M,0,0,0,1,...,0,1,0,0,0,0,0,0,6,0

In [3]:

#modify demo to include ethnicity as columns
ca_enrollment_race = ca_enrollment_data.pivot_table(values='ENR_TOTAL', index='COUNTY', columns='ETHNIC', aggfunc='sum')
ca_enrollment_race.head()

ETHNIC,0,1,2,3,4,5,6,7,9
COUNTY,,,,,,,,,
Alameda,2410.0,597.0,60548.0,2276.0,10324.0,77433.0,20865.0,39186.0,13692.0
Alpine,1.0,36.0,NaN,NaN,NaN,2.0,NaN,26.0,5.0
Amador,32.0,99.0,20.0,8.0,20.0,925.0,20.0,2765.0,277.0
Butte,432.0,690.0,1777.0,100.0,124.0,7469.0,602.0,17002.0,1838.0
Calaveras,5.0,82.0,31.0,5.0,17.0,1128.0,39.0,3671.0,337.0

In [4]:
#rename the ethnicity columns
ca_enrollment_race_2 = ca_enrollment_race.rename(columns = {0:'OTHER',
                                    1:'AMERICAN_INDIAN',
                                    2:'ASIAN',
                                    3:'PACIFIC_ISLANDER',
                                    4:'FILIPINO',
                                    5:'LATINO',
                                    6:'AFRICAN_AMERICAN',
                                    7:'WHITE',
                                    9:'MULTI_RACE'})
ca_enrollment_race_2.reset_index(inplace=True)
ca_enrollment_race_2.head()

ETHNIC,COUNTY,OTHER,AMERICAN_INDIAN,ASIAN,PACIFIC_ISLANDER,FILIPINO,LATINO,AFRICAN_AMERICAN,WHITE,MULTI_RACE
0,Alameda,2410.0,597.0,60548.0,2276.0,10324.0,77433.0,20865.0,39186.0,13692.0
1,Alpine,1.0,36.0,NaN,NaN,NaN,2.0,NaN,26.0,5.0
2,Amador,32.0,99.0,20.0,8.0,20.0,925.0,20.0,2765.0,277.0
3,Butte,432.0,690.0,1777.0,100.0,124.0,7469.0,602.0,17002.0,1838.0
4,Calaveras,5.0,82.0,31.0,5.0,17.0,1128.0,39.0,3671.0,337.0

In [32]:

ca_enrollment_race_2['OTHER_TOTAL'] = ca_enrollment_race_2['OTHER'] + ca_enrollment_race_2['MULTI_RACE']
ca_enrollment_race_2['ASIAN_TOTAL'] = ca_enrollment_race_2['ASIAN'] + ca_enrollment_race_2['FILIPINO']
ca_enrollment_race_2.head(1)
ca_clean = ca_enrollment_race_2[['COUNTY', 'AMERICAN_INDIAN', 'PACIFIC_ISLANDER', 'LATINO','AFRICAN_AMERICAN','WHITE','OTHER_TOTAL','ASIANS_TOTAL']].copy()

#replace NAN with zero
ca_clean.fillna(0,inplace = True)
ca_clean.head()

# Add column of CA
ca_clean['STATE'] = "CA"
ca_clean

ca_clean.rename(
  columns={
    'ASIANS_TOTAL' : 'ASIAN',
    'OTHER_TOTAL' : 'OTHER/MULTI'
  },
  inplace=True
)
ca_clean

ca_clean.reset_index(inplace=False)
#ca_clean.drop(["ETHNIC"], axis=1)

ETHNIC,index,COUNTY,AMERICAN_INDIAN,PACIFIC_ISLANDER,LATINO,AFRICAN_AMERICAN,WHITE,OTHER/MULTI,ASIAN,STATE
0,0,Alameda,597.0,2276.0,77433.0,20865.0,39186.0,16102.0,70872.0,CA
1,1,Alpine,36.0,0.0,2.0,0.0,26.0,6.0,0.0,CA
2,2,Amador,99.0,8.0,925.0,20.0,2765.0,309.0,40.0,CA
3,3,Butte,690.0,100.0,7469.0,602.0,17002.0,2270.0,1901.0,CA
4,4,Calaveras,82.0,5.0,1128.0,39.0,3671.0,342.0,48.0,CA
5,5,Colusa,55.0,9.0,3749.0,33.0,780.0,49.0,55.0,CA
6,6,Contra Costa,534.0,1100.0,65518.0,15329.0,51141.0,14070.0,30714.0,CA
7,7,Del Norte,613.0,3.0,942.0,25.0,2228.0,0.0,211.0,CA
8,8,El Dorado,240.0,78.0,6260.0,350.0,20759.0,1852.0,1587.0,CA
9,9,Fresno,1199.0,480.0,135997.0,10046.0,34222.0,5048.0,20866.0,CA
10,10,Glenn,120.0,6.0,3311.0,25.0,2241.0,195.0,144.0,CA
11,11,Humboldt,1614.0,95.0,3392.0,184.0,10370.0,1813.0,638.0,CA
12,12,Imperial,359.0,11.0,34731.0,245.0,1587.0,234.0,208.0,CA
13,13,Inyo,447.0,5.0,2386.0,317.0,1032.0,257.0,32.0,CA
14,14,Kern,990.0,424.0,129945.0,10764.0,44193.0,5221.0,7373.0,CA
15,15,Kings,305.0,67.0,21147.0,1072.0,5647.0,952.0,761.0,CA
16,16,Lake,398.0,13.0,3794.0,149.0,4722.0,675.0,99.0,CA
17,17,Lassen,147.0,57.0,733.0,48.0,2514.0,251.0,61.0,CA
18,18,Los Angeles,2835.0,4135.0,940398.0,103205.0,196504.0,46448.0,142997.0,CA
19,19,Madera,353.0,21.0,23921.0,457.0,6167.0,705.0,520.0,CA
20,20,Marin,139.0,77.0,10556.0,555.0,18132.0,2290.0,1767.0,CA
21,21,Mariposa,67.0,0.0,376.0,9.0,1244.0,145.0,29.0,CA
22,22,Mendocino,889.0,10.0,5858.0,84.0,5356.0,885.0,163.0,CA
23,23,Merced,311.0,191.0,44197.0,1565.0,8682.0,1122.0,3463.0,CA
24,24,Modoc,71.0,6.0,492.0,13.0,732.0,65.0,15.0,CA
25,25,Mono,26.0,4.0,1102.0,46.0,698.0,37.0,23.0,CA
26,26,Monterey,211.0,358.0,62332.0,1030.0,9259.0,1618.0,2579.0,CA
27,27,Napa,43.0,38.0,11352.0,386.0,5738.0,788.0,1677.0,CA
28,28,Nevada,119.0,19.0,2355.0,159.0,7921.0,797.0,155.0,CA
29,29,Orange,891.0,1462.0,232562.0,6131.0,118553.0,24212.0,89801.0,CA
30,30,Placer,469.0,295.0,15498.0,1586.0,44613.0,5688.0,7059.0,CA
31,31,Plumas,77.0,1.0,354.0,28.0,1580.0,168.0,11.0,CA
32,32,Riverside,1940.0,1487.0,277550.0,25619.0,85811.0,17201.0,21913.0,CA
33,33,Sacramento,1370.0,3443.0,81076.0,27524.0,71579.0,19615.0,44933.0,CA
34,34,San Benito,37.0,19.0,8777.0,49.0,2130.0,300.0,233.0,CA
35,35,San Bernardino,1702.0,1613.0,268967.0,33170.0,67924.0,12851.0,21041.0,CA
36,36,San Diego,2409.0,2140.0,242900.0,21390.0,148456.0,35741.0,49749.0,CA
37,37,San Francisco,187.0,515.0,20038.0,4975.0,9082.0,6733.0,20382.0,CA
38,38,San Joaquin,1031.0,1073.0,81165.0,11599.0,26156.0,7026.0,24300.0,CA
39,39,San Luis Obispo,137.0,56.0,14117.0,289.0,17237.0,1652.0,899.0,CA
40,40,San Mateo,138.0,1594.0,35614.0,1225.0,22328.0,10179.0,22476.0,CA
41,41,Santa Barbara,256.0,83.0,48645.0,603.0,15217.0,2407.0,1795.0,CA
42,42,Santa Clara,794.0,1129.0,100852.0,4750.0,49243.0,16340.0,90341.0,CA
43,43,Santa Cruz,155.0,61.0,23028.0,304.0,13961.0,1881.0,1161.0,CA
44,44,Shasta,1032.0,96.0,4346.0,335.0,18108.0,2196.0,1003.0,CA
45,45,Sierra,2.0,1.0,72.0,3.0,330.0,23.0,0.0,CA
46,46,Siskiyou,426.0,13.0,1056.0,86.0,3606.0,744.0,135.0,CA
47,47,Solano,236.0,676.0,25441.0,8629.0,14872.0,5361.0,7764.0,CA
48,48,Sonoma,581.0,283.0,31770.0,1062.0,28301.0,3596.0,2601.0,CA
49,49,Stanislaus,713.0,753.0,67712.0,2786.0,27678.0,5162.0,5652.0,CA
50,50,Sutter,171.0,106.0,8929.0,555.0,8816.0,1539.0,3192.0,CA
51,51,Tehama,243.0,20.0,4642.0,87.0,5588.0,399.0,130.0,CA
52,52,Trinity,100.0,3.0,170.0,3.0,1068.0,151.0,0.0,CA
53,53,Tulare,717.0,162.0,81695.0,1099.0,15955.0,2526.0,2884.0,CA
54,54,Tuolumne,147.0,26.0,1049.0,43.0,4335.0,350.0,95.0,CA
55,55,Ventura,288.0,250.0,81164.0,1572.0,38606.0,5041.0,8391.0,CA
56,56,Yolo,151.0,165.0,14422.0,844.0,10034.0,1533.0,3420.0,CA
57,57,Yuba,293.0,74.0,5786.0,528.0,6051.0,1059.0,1124.0,CA

In [36]:
list(ca_clean.columns)

['COUNTY',
 'AMERICAN_INDIAN',
 'PACIFIC_ISLANDER',
 'LATINO',
 'AFRICAN_AMERICAN',
 'WHITE',
 'OTHER/MULTI',
 'ASIAN',
 'STATE']

# Oregon Data

In [49]:
url= "https://www.oregon.gov/ode/reports-and-data/students/Documents/fallmembershipreport_20192020.xlsx"

or_enrollment_data = pd.read_excel(url, sheet_name = "District (19-20)")
or_enrollment_data
list(or_enrollment_data.columns)
or_clean = or_enrollment_data[['County', 
                   '2019-20 American Indian/Alaska Native ', 
                   '2019-20 Asian ', 
                   '2019-20 Native Hawaiian/ Pacific Islander', 
                   '2019-20 Black/African American ', 
                   '2019-20 Hispanic/ Latino', 
                   '2019-20 White ', 
                   '2019-20 Multiracial ']].copy()
or_clean

,County,2019-20 American Indian/Alaska Native,2019-20 Asian,2019-20 Native Hawaiian/ Pacific Islander,2019-20 Black/African American,2019-20 Hispanic/ Latino,2019-20 White,2019-20 Multiracial
0,Lake,2,0,0,0,0,5,0
1,Malheur,1,1,0,0,60,227,3
2,Benton,5,18,0,2,28,253,15
3,Yamhill,12,6,0,3,110,652,41
4,Malheur,0,0,0,0,25,65,4
...,...,...,...,...,...,...,...,...
205,Yamhill,210,2,5,1,83,522,53
206,Douglas,26,2,4,5,106,1166,84
207,Marion,6,22,13,13,4685,839,50
208,Yamhill,1,5,1,8,94,897,46
209,Douglas,4,2,0,1,33,201,24

In [50]:
or_clean['STATE'] = "OR"
or_clean

,County,2019-20 American Indian/Alaska Native,2019-20 Asian,2019-20 Native Hawaiian/ Pacific Islander,2019-20 Black/African American,2019-20 Hispanic/ Latino,2019-20 White,2019-20 Multiracial,STATE
0,Lake,2,0,0,0,0,5,0,OR
1,Malheur,1,1,0,0,60,227,3,OR
2,Benton,5,18,0,2,28,253,15,OR
3,Yamhill,12,6,0,3,110,652,41,OR
4,Malheur,0,0,0,0,25,65,4,OR
...,...,...,...,...,...,...,...,...,...
205,Yamhill,210,2,5,1,83,522,53,OR
206,Douglas,26,2,4,5,106,1166,84,OR
207,Marion,6,22,13,13,4685,839,50,OR
208,Yamhill,1,5,1,8,94,897,46,OR
209,Douglas,4,2,0,1,33,201,24,OR

In [51]:
or_clean.rename(
  columns={'County':'COUNTY',
 '2019-20 American Indian/Alaska Native ':'AMERICAN_INDIAN',
 '2019-20 Native Hawaiian/ Pacific Islander':'PACIFIC_ISLANDER',
 '2019-20 Hispanic/ Latino':'LATINO',
 '2019-20 Black/African American ':'AFRICAN_AMERICAN',
 '2019-20 White ':'WHITE',
 '2019-20 Multiracial ':'OTHER/MULTI',
 '2019-20 Asian ':'ASIAN',
  },
  inplace=True
)
or_clean

,COUNTY,AMERICAN_INDIAN,ASIAN,PACIFIC_ISLANDER,AFRICAN_AMERICAN,LATINO,WHITE,OTHER/MULTI,STATE
0,Lake,2,0,0,0,0,5,0,OR
1,Malheur,1,1,0,0,60,227,3,OR
2,Benton,5,18,0,2,28,253,15,OR
3,Yamhill,12,6,0,3,110,652,41,OR
4,Malheur,0,0,0,0,25,65,4,OR
...,...,...,...,...,...,...,...,...,...
205,Yamhill,210,2,5,1,83,522,53,OR
206,Douglas,26,2,4,5,106,1166,84,OR
207,Marion,6,22,13,13,4685,839,50,OR
208,Yamhill,1,5,1,8,94,897,46,OR
209,Douglas,4,2,0,1,33,201,24,OR

In [54]:
json_file = "https://data.wa.gov/resource/gtd3-scga.json"
wa_enrollment_data = pd.read_json(json_file)
wa_enrollment_data.head(100)

,schoolyear,organizationlevel,county,esdname,districtname,schoolname,gradelevel,all_students,female,gender_x,...,non_mobile,non_section_504,students_without_disabilities,dataasof,esdorganizationid,districtcode,districtorganizationid,schoolcode,schoolorganizationid,currentschooltype
0,2019-20,State,Multiple,State Total,State Total,State Total,10th Grade,84690,41154.0,139.0,...,82499.0,79726,74529.0,2020-02-11T00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-20,State,Multiple,State Total,State Total,State Total,11th Grade,83731,40877.0,153.0,...,81156.0,78730,74017.0,2020-02-11T00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-20,State,Multiple,State Total,State Total,State Total,12th Grade,91585,44319.0,194.0,...,86412.0,86395,79242.0,2020-02-11T00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-20,State,Multiple,State Total,State Total,State Total,1st Grade,83765,40675.0,21.0,...,81966.0,82713,73240.0,2020-02-11T00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-20,State,Multiple,State Total,State Total,State Total,2nd Grade,83362,40569.0,29.0,...,81697.0,81768,72221.0,2020-02-11T00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2019-20,School,Lewis,Capital Region ESD 113,Adna School District,Adna Elementary School,Pre-Kindergarten,3,2.0,NaN,...,3.0,3,NaN,2020-02-11T00:00:00.000,100004.0,21226.0,100011.0,2227.0,101834.0,P
96,2019-20,School,Lewis,Capital Region ESD 113,Adna School District,Adna Middle/High School,10th Grade,56,32.0,NaN,...,56.0,54,49.0,2020-02-11T00:00:00.000,100004.0,21226.0,100011.0,2441.0,101835.0,P
97,2019-20,School,Lewis,Capital Region ESD 113,Adna School District,Adna Middle/High School,11th Grade,66,34.0,NaN,...,63.0,63,63.0,2020-02-11T00:00:00.000,100004.0,21226.0,100011.0,2441.0,101835.0,P
98,2019-20,School,Lewis,Capital Region ESD 113,Adna School District,Adna Middle/High School,12th Grade,56,30.0,NaN,...,51.0,54,52.0,2020-02-11T00:00:00.000,100004.0,21226.0,100011.0,2441.0,101835.0,P
99,2019-20,School,Lewis,Capital Region ESD 113,Adna School District,Adna Middle/High School,6th Grade,51,28.0,NaN,...,50.0,51,48.0,2020-02-11T00:00:00.000,100004.0,21226.0,100011.0,2441.0,101835.0,P

In [65]:
wa_temp = wa_enrollment_data.loc[wa_enrollment_data['county'] != 'Multiple'].copy()
wa_temp.fillna(0, inplace=True)
wa_temp.groupby(wa_temp['county']).sum()

,all_students,female,gender_x,male,american_indian_alaskan_native,asian,black_african_american,hispanic_latino_of_any_race,native_hawaiian_other_pacific,two_or_more_races,...,non_migrant,non_military_parent,non_mobile,non_section_504,students_without_disabilities,esdorganizationid,districtcode,districtorganizationid,schoolcode,schoolorganizationid
county,,,,,,,,,,,,,,,,,,,,,
Adams,15,10.0,0.0,5.0,0.0,0.0,0.0,1.0,0.0,1.0,...,15,15,15.0,15,14.0,500005.0,5610.0,500105.0,15710.0,501645.0
Asotin,1250,626.0,0.0,624.0,4.0,14.0,2.0,76.0,4.0,70.0,...,1250,1238,1214.0,1226,1056.0,1600112.0,38720.0,1600240.0,39528.0,1605656.0
Clark,26802,13158.0,4.0,13640.0,118.0,642.0,270.0,2794.0,118.0,1450.0,...,26780,26556,25708.0,25892,22770.0,13300399.0,813827.0,13302394.0,497961.0,13541788.0
Grays Harbor,7064,3586.0,0.0,3478.0,174.0,104.0,68.0,2318.0,8.0,584.0,...,6914,6996,6624.0,6768,5800.0,7200288.0,1008360.0,7200720.0,246518.0,7313215.0
King,79748,38424.0,16.0,41308.0,496.0,21912.0,4346.0,16670.0,1774.0,7564.0,...,79708,79224,76320.0,76836,71538.0,38031240.0,6616921.0,38037579.0,1415182.0,38848722.0
Kitsap,7800,3746.0,2.0,4052.0,36.0,238.0,48.0,640.0,12.0,716.0,...,7800,7642,7674.0,6686,6804.0,6800408.0,1244604.0,6801156.0,180599.0,6949548.0
Lewis,1286,646.0,6.0,634.0,12.0,8.0,12.0,98.0,0.0,26.0,...,1286,1268,1248.0,1264,1150.0,1600064.0,339616.0,1600176.0,37344.0,1629352.0
Lincoln,260,134.0,0.0,126.0,0.0,2.0,0.0,16.0,0.0,26.0,...,260,260,252.0,260,228.0,1100011.0,242187.0,1100132.0,31460.0,1120735.0
Pierce,888,198.0,0.0,690.0,22.0,18.0,122.0,152.0,8.0,52.0,...,888,884,646.0,888,888.0,0.0,111724.0,416880.0,23800.0,416884.0
Skagit,5600,2718.0,0.0,2882.0,48.0,146.0,52.0,560.0,6.0,304.0,...,5582,5002,5460.0,5312,4870.0,4000360.0,1164120.0,4000520.0,136868.0,4116224.0
Snohomish,11932,5782.0,12.0,6138.0,106.0,180.0,68.0,1630.0,34.0,980.0,...,11854,11702,11442.0,11444,10130.0,6900621.0,2140104.0,6900966.0,259744.0,7098272.0
Whatcom,24240,11538.0,32.0,12670.0,218.0,1292.0,356.0,4084.0,80.0,2012.0,...,24026,24122,23298.0,22506,20440.0,17001530.0,6375170.0,17003400.0,548683.0,17592009.0

In [83]:
wa_temp['STATE'] = 'WA'

wa_clean = wa_temp[['county',
                    'american_indian_alaskan_native',
                    'asian',
                    'black_african_american',
                    'hispanic_latino_of_any_race',
                    'native_hawaiian_other_pacific',
                    'two_or_more_races',
                    'white']].copy()

wa_clean = wa_clean.groupby(wa_clean['county']).sum()
wa_clean

,american_indian_alaskan_native,asian,black_african_american,hispanic_latino_of_any_race,native_hawaiian_other_pacific,two_or_more_races,white
county,,,,,,,
Adams,0.0,0.0,0.0,1.0,0.0,1.0,13.0
Asotin,4.0,14.0,2.0,76.0,4.0,70.0,1080.0
Clark,118.0,642.0,270.0,2794.0,118.0,1450.0,21408.0
Grays Harbor,174.0,104.0,68.0,2318.0,8.0,584.0,3808.0
King,496.0,21912.0,4346.0,16670.0,1774.0,7564.0,26986.0
Kitsap,36.0,238.0,48.0,640.0,12.0,716.0,6110.0
Lewis,12.0,8.0,12.0,98.0,0.0,26.0,1130.0
Lincoln,0.0,2.0,0.0,16.0,0.0,26.0,216.0
Pierce,22.0,18.0,122.0,152.0,8.0,52.0,514.0
Skagit,48.0,146.0,52.0,560.0,6.0,304.0,4484.0
Snohomish,106.0,180.0,68.0,1630.0,34.0,980.0,8934.0
Whatcom,218.0,1292.0,356.0,4084.0,80.0,2012.0,16198.0

In [84]:

wa_clean.rename(
  columns={'county':'COUNTY',
 'american_indian_alaskan_native':'AMERICAN_INDIAN',
 'native_hawaiian_other_pacific':'PACIFIC_ISLANDER',
 'hispanic_latino_of_any_race':'LATINO',
 'black_african_american':'AFRICAN_AMERICAN',
 '2019-20 White ':'WHITE',
 'two_or_more_races':'OTHER/MULTI',
 'asian':'ASIAN',
  },
  inplace=True
)
wa_clean

,AMERICAN_INDIAN,ASIAN,AFRICAN_AMERICAN,LATINO,PACIFIC_ISLANDER,OTHER/MULTI,white
county,,,,,,,
Adams,0.0,0.0,0.0,1.0,0.0,1.0,13.0
Asotin,4.0,14.0,2.0,76.0,4.0,70.0,1080.0
Clark,118.0,642.0,270.0,2794.0,118.0,1450.0,21408.0
Grays Harbor,174.0,104.0,68.0,2318.0,8.0,584.0,3808.0
King,496.0,21912.0,4346.0,16670.0,1774.0,7564.0,26986.0
Kitsap,36.0,238.0,48.0,640.0,12.0,716.0,6110.0
Lewis,12.0,8.0,12.0,98.0,0.0,26.0,1130.0
Lincoln,0.0,2.0,0.0,16.0,0.0,26.0,216.0
Pierce,22.0,18.0,122.0,152.0,8.0,52.0,514.0
Skagit,48.0,146.0,52.0,560.0,6.0,304.0,4484.0
Snohomish,106.0,180.0,68.0,1630.0,34.0,980.0,8934.0
Whatcom,218.0,1292.0,356.0,4084.0,80.0,2012.0,16198.0

In [89]:
wa_clean['STATE'] = 'WA'
wa_clean

,AMERICAN_INDIAN,ASIAN,AFRICAN_AMERICAN,LATINO,PACIFIC_ISLANDER,OTHER/MULTI,white,STATE
county,,,,,,,,
Adams,0.0,0.0,0.0,1.0,0.0,1.0,13.0,WA
Asotin,4.0,14.0,2.0,76.0,4.0,70.0,1080.0,WA
Clark,118.0,642.0,270.0,2794.0,118.0,1450.0,21408.0,WA
Grays Harbor,174.0,104.0,68.0,2318.0,8.0,584.0,3808.0,WA
King,496.0,21912.0,4346.0,16670.0,1774.0,7564.0,26986.0,WA
Kitsap,36.0,238.0,48.0,640.0,12.0,716.0,6110.0,WA
Lewis,12.0,8.0,12.0,98.0,0.0,26.0,1130.0,WA
Lincoln,0.0,2.0,0.0,16.0,0.0,26.0,216.0,WA
Pierce,22.0,18.0,122.0,152.0,8.0,52.0,514.0,WA
Skagit,48.0,146.0,52.0,560.0,6.0,304.0,4484.0,WA
Snohomish,106.0,180.0,68.0,1630.0,34.0,980.0,8934.0,WA
Whatcom,218.0,1292.0,356.0,4084.0,80.0,2012.0,16198.0,WA

In [92]:
wa_clean['AMERICAN_INDIAN'] = round(wa_clean['AMERICAN_INDIAN'],1)
wa_clean

,AMERICAN_INDIAN,ASIAN,AFRICAN_AMERICAN,LATINO,PACIFIC_ISLANDER,OTHER/MULTI,white,STATE
county,,,,,,,,
Adams,0.0,0.0,0.0,1.0,0.0,1.0,13.0,WA
Asotin,4.0,14.0,2.0,76.0,4.0,70.0,1080.0,WA
Clark,118.0,642.0,270.0,2794.0,118.0,1450.0,21408.0,WA
Grays Harbor,174.0,104.0,68.0,2318.0,8.0,584.0,3808.0,WA
King,496.0,21912.0,4346.0,16670.0,1774.0,7564.0,26986.0,WA
Kitsap,36.0,238.0,48.0,640.0,12.0,716.0,6110.0,WA
Lewis,12.0,8.0,12.0,98.0,0.0,26.0,1130.0,WA
Lincoln,0.0,2.0,0.0,16.0,0.0,26.0,216.0,WA
Pierce,22.0,18.0,122.0,152.0,8.0,52.0,514.0,WA
Skagit,48.0,146.0,52.0,560.0,6.0,304.0,4484.0,WA
Snohomish,106.0,180.0,68.0,1630.0,34.0,980.0,8934.0,WA
Whatcom,218.0,1292.0,356.0,4084.0,80.0,2012.0,16198.0,WA

In [7]:
rds_connection_string = "postgres:postgres@localhost:5432/ELT_Project"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [8]:
#Check for tables
engine.table_names()

[]