In [1]:
pip install sodapy

Requirement already satisfied: sodapy in c:\users\bc_ba\anaconda3\lib\site-packages (2.1.0)
Requirement already satisfied: requests>=2.20.0 in c:\users\bc_ba\anaconda3\lib\site-packages (from sodapy) (2.22.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\bc_ba\anaconda3\lib\site-packages (from requests>=2.20.0->sodapy) (2020.4.5.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\bc_ba\anaconda3\lib\site-packages (from requests>=2.20.0->sodapy) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\bc_ba\anaconda3\lib\site-packages (from requests>=2.20.0->sodapy) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\bc_ba\anaconda3\lib\site-packages (from requests>=2.20.0->sodapy) (1.25.8)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from sqlalchemy import create_engine
import requests
import json
from sodapy import Socrata

# California Data

In [3]:
#data collected from https://www.cde.ca.gov/ds/sd/sd/filesabd.asp
#https://www.oregon.gov/ode/reports-and-data/students/Pages/Student-Enrollment-Reports.aspx

url= "http://dq.cde.ca.gov/dataquest/dlfile/dlfile.aspx?cLevel=School&cYear=2019-20&cCat=Enrollment&cPage=filesenr.asp"
ca_enrollment_data = pd.read_table(url)
ca_enrollment_data

,CDS_CODE,COUNTY,DISTRICT,SCHOOL,ETHNIC,GENDER,KDGN,GR_1,GR_2,GR_3,...,GR_7,GR_8,UNGR_ELM,GR_9,GR_10,GR_11,GR_12,UNGR_SEC,ENR_TOTAL,ADULT
0,8618206005417,Del Norte,Del Norte County Unified,Margaret Keating Elementary,5,M,2,2,0,0,...,0,0,0,0,0,0,0,0,5,0
1,8618206005417,Del Norte,Del Norte County Unified,Margaret Keating Elementary,9,F,3,1,1,1,...,0,0,0,0,0,0,0,0,10,0
2,8618206005417,Del Norte,Del Norte County Unified,Margaret Keating Elementary,7,F,0,1,1,2,...,0,0,0,0,0,0,0,0,6,0
3,8618206005417,Del Norte,Del Norte County Unified,Margaret Keating Elementary,5,F,0,0,1,2,...,0,0,0,0,0,0,0,0,3,0
4,8618206005417,Del Norte,Del Norte County Unified,Margaret Keating Elementary,9,M,1,0,0,1,...,0,0,0,0,0,0,0,0,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131611,37681303732625,San Diego,Grossmont Union High,Grossmont High,5,M,0,0,0,0,...,0,0,0,139,125,121,133,0,518,0
131612,37681890000001,San Diego,Lakeside Union Elementary,"Nonpublic, Nonsectarian Schools",5,M,0,0,0,0,...,0,1,0,0,0,0,0,0,2,0
131613,37681890000001,San Diego,Lakeside Union Elementary,"Nonpublic, Nonsectarian Schools",6,F,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
131614,37681890000001,San Diego,Lakeside Union Elementary,"Nonpublic, Nonsectarian Schools",7,F,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
131615,37681890000001,San Diego,Lakeside Union Elementary,"Nonpublic, Nonsectarian Schools",7,M,0,0,0,1,...,0,1,0,0,0,0,0,0,6,0

In [4]:

#modify demo to include ethnicity as columns
ca_enrollment_race = ca_enrollment_data.pivot_table(values='ENR_TOTAL', index='COUNTY', columns='ETHNIC', aggfunc='sum')
ca_enrollment_race.head()

ETHNIC,0,1,2,3,4,5,6,7,9
COUNTY,,,,,,,,,
Alameda,2410.0,597.0,60548.0,2276.0,10324.0,77433.0,20865.0,39186.0,13692.0
Alpine,1.0,36.0,NaN,NaN,NaN,2.0,NaN,26.0,5.0
Amador,32.0,99.0,20.0,8.0,20.0,925.0,20.0,2765.0,277.0
Butte,432.0,690.0,1777.0,100.0,124.0,7469.0,602.0,17002.0,1838.0
Calaveras,5.0,82.0,31.0,5.0,17.0,1128.0,39.0,3671.0,337.0

In [5]:
#rename the ethnicity columns
ca_enrollment_race_2 = ca_enrollment_race.rename(columns = {0:'OTHER',
                                    1:'AMERICAN_INDIAN',
                                    2:'ASIAN',
                                    3:'PACIFIC_ISLANDER',
                                    4:'FILIPINO',
                                    5:'LATINO',
                                    6:'AFRICAN_AMERICAN',
                                    7:'WHITE',
                                    9:'MULTI_RACE'})
ca_enrollment_race_2.reset_index(inplace=True)
ca_enrollment_race_2.head()

ETHNIC,COUNTY,OTHER,AMERICAN_INDIAN,ASIAN,PACIFIC_ISLANDER,FILIPINO,LATINO,AFRICAN_AMERICAN,WHITE,MULTI_RACE
0,Alameda,2410.0,597.0,60548.0,2276.0,10324.0,77433.0,20865.0,39186.0,13692.0
1,Alpine,1.0,36.0,NaN,NaN,NaN,2.0,NaN,26.0,5.0
2,Amador,32.0,99.0,20.0,8.0,20.0,925.0,20.0,2765.0,277.0
3,Butte,432.0,690.0,1777.0,100.0,124.0,7469.0,602.0,17002.0,1838.0
4,Calaveras,5.0,82.0,31.0,5.0,17.0,1128.0,39.0,3671.0,337.0

In [6]:

ca_enrollment_race_2['OTHER_TOTAL'] = ca_enrollment_race_2['OTHER'] + ca_enrollment_race_2['MULTI_RACE']
ca_enrollment_race_2['ASIAN_TOTAL'] = ca_enrollment_race_2['ASIAN'] + ca_enrollment_race_2['FILIPINO']
ca_enrollment_race_2.head(1)
ca_clean = ca_enrollment_race_2[['COUNTY', 'AMERICAN_INDIAN', 'PACIFIC_ISLANDER', 'LATINO','AFRICAN_AMERICAN','WHITE','OTHER_TOTAL','ASIAN_TOTAL']].copy()

#replace NAN with zero
ca_clean.fillna(0,inplace = True)
ca_clean.head()

# Add column of CA
ca_clean['STATE'] = "CA"
ca_clean

ca_clean.rename(
  columns={
    'ASIANS_TOTAL' : 'ASIAN',
    'OTHER_TOTAL' : 'OTHER/MULTI'
  },
  inplace=True
)
ca_clean

ca_clean.reset_index(inplace=False)
#ca_clean.drop(["ETHNIC"], axis=1)
#ca_clean.set_index('index')
#ca_clean.rename_axis(None)

ETHNIC,index,COUNTY,AMERICAN_INDIAN,PACIFIC_ISLANDER,LATINO,AFRICAN_AMERICAN,WHITE,OTHER/MULTI,ASIAN_TOTAL,STATE
0,0,Alameda,597.0,2276.0,77433.0,20865.0,39186.0,16102.0,70872.0,CA
1,1,Alpine,36.0,0.0,2.0,0.0,26.0,6.0,0.0,CA
2,2,Amador,99.0,8.0,925.0,20.0,2765.0,309.0,40.0,CA
3,3,Butte,690.0,100.0,7469.0,602.0,17002.0,2270.0,1901.0,CA
4,4,Calaveras,82.0,5.0,1128.0,39.0,3671.0,342.0,48.0,CA
5,5,Colusa,55.0,9.0,3749.0,33.0,780.0,49.0,55.0,CA
6,6,Contra Costa,534.0,1100.0,65518.0,15329.0,51141.0,14070.0,30714.0,CA
7,7,Del Norte,613.0,3.0,942.0,25.0,2228.0,0.0,211.0,CA
8,8,El Dorado,240.0,78.0,6260.0,350.0,20759.0,1852.0,1587.0,CA
9,9,Fresno,1199.0,480.0,135997.0,10046.0,34222.0,5048.0,20866.0,CA
10,10,Glenn,120.0,6.0,3311.0,25.0,2241.0,195.0,144.0,CA
11,11,Humboldt,1614.0,95.0,3392.0,184.0,10370.0,1813.0,638.0,CA
12,12,Imperial,359.0,11.0,34731.0,245.0,1587.0,234.0,208.0,CA
13,13,Inyo,447.0,5.0,2386.0,317.0,1032.0,257.0,32.0,CA
14,14,Kern,990.0,424.0,129945.0,10764.0,44193.0,5221.0,7373.0,CA
15,15,Kings,305.0,67.0,21147.0,1072.0,5647.0,952.0,761.0,CA
16,16,Lake,398.0,13.0,3794.0,149.0,4722.0,675.0,99.0,CA
17,17,Lassen,147.0,57.0,733.0,48.0,2514.0,251.0,61.0,CA
18,18,Los Angeles,2835.0,4135.0,940398.0,103205.0,196504.0,46448.0,142997.0,CA
19,19,Madera,353.0,21.0,23921.0,457.0,6167.0,705.0,520.0,CA
20,20,Marin,139.0,77.0,10556.0,555.0,18132.0,2290.0,1767.0,CA
21,21,Mariposa,67.0,0.0,376.0,9.0,1244.0,145.0,29.0,CA
22,22,Mendocino,889.0,10.0,5858.0,84.0,5356.0,885.0,163.0,CA
23,23,Merced,311.0,191.0,44197.0,1565.0,8682.0,1122.0,3463.0,CA
24,24,Modoc,71.0,6.0,492.0,13.0,732.0,65.0,15.0,CA
25,25,Mono,26.0,4.0,1102.0,46.0,698.0,37.0,23.0,CA
26,26,Monterey,211.0,358.0,62332.0,1030.0,9259.0,1618.0,2579.0,CA
27,27,Napa,43.0,38.0,11352.0,386.0,5738.0,788.0,1677.0,CA
28,28,Nevada,119.0,19.0,2355.0,159.0,7921.0,797.0,155.0,CA
29,29,Orange,891.0,1462.0,232562.0,6131.0,118553.0,24212.0,89801.0,CA
30,30,Placer,469.0,295.0,15498.0,1586.0,44613.0,5688.0,7059.0,CA
31,31,Plumas,77.0,1.0,354.0,28.0,1580.0,168.0,11.0,CA
32,32,Riverside,1940.0,1487.0,277550.0,25619.0,85811.0,17201.0,21913.0,CA
33,33,Sacramento,1370.0,3443.0,81076.0,27524.0,71579.0,19615.0,44933.0,CA
34,34,San Benito,37.0,19.0,8777.0,49.0,2130.0,300.0,233.0,CA
35,35,San Bernardino,1702.0,1613.0,268967.0,33170.0,67924.0,12851.0,21041.0,CA
36,36,San Diego,2409.0,2140.0,242900.0,21390.0,148456.0,35741.0,49749.0,CA
37,37,San Francisco,187.0,515.0,20038.0,4975.0,9082.0,6733.0,20382.0,CA
38,38,San Joaquin,1031.0,1073.0,81165.0,11599.0,26156.0,7026.0,24300.0,CA
39,39,San Luis Obispo,137.0,56.0,14117.0,289.0,17237.0,1652.0,899.0,CA
40,40,San Mateo,138.0,1594.0,35614.0,1225.0,22328.0,10179.0,22476.0,CA
41,41,Santa Barbara,256.0,83.0,48645.0,603.0,15217.0,2407.0,1795.0,CA
42,42,Santa Clara,794.0,1129.0,100852.0,4750.0,49243.0,16340.0,90341.0,CA
43,43,Santa Cruz,155.0,61.0,23028.0,304.0,13961.0,1881.0,1161.0,CA
44,44,Shasta,1032.0,96.0,4346.0,335.0,18108.0,2196.0,1003.0,CA
45,45,Sierra,2.0,1.0,72.0,3.0,330.0,23.0,0.0,CA
46,46,Siskiyou,426.0,13.0,1056.0,86.0,3606.0,744.0,135.0,CA
47,47,Solano,236.0,676.0,25441.0,8629.0,14872.0,5361.0,7764.0,CA
48,48,Sonoma,581.0,283.0,31770.0,1062.0,28301.0,3596.0,2601.0,CA
49,49,Stanislaus,713.0,753.0,67712.0,2786.0,27678.0,5162.0,5652.0,CA
50,50,Sutter,171.0,106.0,8929.0,555.0,8816.0,1539.0,3192.0,CA
51,51,Tehama,243.0,20.0,4642.0,87.0,5588.0,399.0,130.0,CA
52,52,Trinity,100.0,3.0,170.0,3.0,1068.0,151.0,0.0,CA
53,53,Tulare,717.0,162.0,81695.0,1099.0,15955.0,2526.0,2884.0,CA
54,54,Tuolumne,147.0,26.0,1049.0,43.0,4335.0,350.0,95.0,CA
55,55,Ventura,288.0,250.0,81164.0,1572.0,38606.0,5041.0,8391.0,CA
56,56,Yolo,151.0,165.0,14422.0,844.0,10034.0,1533.0,3420.0,CA
57,57,Yuba,293.0,74.0,5786.0,528.0,6051.0,1059.0,1124.0,CA

In [7]:
list(ca_clean.columns)

['COUNTY',
 'AMERICAN_INDIAN',
 'PACIFIC_ISLANDER',
 'LATINO',
 'AFRICAN_AMERICAN',
 'WHITE',
 'OTHER/MULTI',
 'ASIAN_TOTAL',
 'STATE']

In [8]:
ca_clean_df  =  pd.DataFrame(ca_clean.to_records())
ca_clean_df

,index,COUNTY,AMERICAN_INDIAN,PACIFIC_ISLANDER,LATINO,AFRICAN_AMERICAN,WHITE,OTHER/MULTI,ASIAN_TOTAL,STATE
0,0,Alameda,597.0,2276.0,77433.0,20865.0,39186.0,16102.0,70872.0,CA
1,1,Alpine,36.0,0.0,2.0,0.0,26.0,6.0,0.0,CA
2,2,Amador,99.0,8.0,925.0,20.0,2765.0,309.0,40.0,CA
3,3,Butte,690.0,100.0,7469.0,602.0,17002.0,2270.0,1901.0,CA
4,4,Calaveras,82.0,5.0,1128.0,39.0,3671.0,342.0,48.0,CA
5,5,Colusa,55.0,9.0,3749.0,33.0,780.0,49.0,55.0,CA
6,6,Contra Costa,534.0,1100.0,65518.0,15329.0,51141.0,14070.0,30714.0,CA
7,7,Del Norte,613.0,3.0,942.0,25.0,2228.0,0.0,211.0,CA
8,8,El Dorado,240.0,78.0,6260.0,350.0,20759.0,1852.0,1587.0,CA
9,9,Fresno,1199.0,480.0,135997.0,10046.0,34222.0,5048.0,20866.0,CA
10,10,Glenn,120.0,6.0,3311.0,25.0,2241.0,195.0,144.0,CA
11,11,Humboldt,1614.0,95.0,3392.0,184.0,10370.0,1813.0,638.0,CA
12,12,Imperial,359.0,11.0,34731.0,245.0,1587.0,234.0,208.0,CA
13,13,Inyo,447.0,5.0,2386.0,317.0,1032.0,257.0,32.0,CA
14,14,Kern,990.0,424.0,129945.0,10764.0,44193.0,5221.0,7373.0,CA
15,15,Kings,305.0,67.0,21147.0,1072.0,5647.0,952.0,761.0,CA
16,16,Lake,398.0,13.0,3794.0,149.0,4722.0,675.0,99.0,CA
17,17,Lassen,147.0,57.0,733.0,48.0,2514.0,251.0,61.0,CA
18,18,Los Angeles,2835.0,4135.0,940398.0,103205.0,196504.0,46448.0,142997.0,CA
19,19,Madera,353.0,21.0,23921.0,457.0,6167.0,705.0,520.0,CA
20,20,Marin,139.0,77.0,10556.0,555.0,18132.0,2290.0,1767.0,CA
21,21,Mariposa,67.0,0.0,376.0,9.0,1244.0,145.0,29.0,CA
22,22,Mendocino,889.0,10.0,5858.0,84.0,5356.0,885.0,163.0,CA
23,23,Merced,311.0,191.0,44197.0,1565.0,8682.0,1122.0,3463.0,CA
24,24,Modoc,71.0,6.0,492.0,13.0,732.0,65.0,15.0,CA
25,25,Mono,26.0,4.0,1102.0,46.0,698.0,37.0,23.0,CA
26,26,Monterey,211.0,358.0,62332.0,1030.0,9259.0,1618.0,2579.0,CA
27,27,Napa,43.0,38.0,11352.0,386.0,5738.0,788.0,1677.0,CA
28,28,Nevada,119.0,19.0,2355.0,159.0,7921.0,797.0,155.0,CA
29,29,Orange,891.0,1462.0,232562.0,6131.0,118553.0,24212.0,89801.0,CA
30,30,Placer,469.0,295.0,15498.0,1586.0,44613.0,5688.0,7059.0,CA
31,31,Plumas,77.0,1.0,354.0,28.0,1580.0,168.0,11.0,CA
32,32,Riverside,1940.0,1487.0,277550.0,25619.0,85811.0,17201.0,21913.0,CA
33,33,Sacramento,1370.0,3443.0,81076.0,27524.0,71579.0,19615.0,44933.0,CA
34,34,San Benito,37.0,19.0,8777.0,49.0,2130.0,300.0,233.0,CA
35,35,San Bernardino,1702.0,1613.0,268967.0,33170.0,67924.0,12851.0,21041.0,CA
36,36,San Diego,2409.0,2140.0,242900.0,21390.0,148456.0,35741.0,49749.0,CA
37,37,San Francisco,187.0,515.0,20038.0,4975.0,9082.0,6733.0,20382.0,CA
38,38,San Joaquin,1031.0,1073.0,81165.0,11599.0,26156.0,7026.0,24300.0,CA
39,39,San Luis Obispo,137.0,56.0,14117.0,289.0,17237.0,1652.0,899.0,CA
40,40,San Mateo,138.0,1594.0,35614.0,1225.0,22328.0,10179.0,22476.0,CA
41,41,Santa Barbara,256.0,83.0,48645.0,603.0,15217.0,2407.0,1795.0,CA
42,42,Santa Clara,794.0,1129.0,100852.0,4750.0,49243.0,16340.0,90341.0,CA
43,43,Santa Cruz,155.0,61.0,23028.0,304.0,13961.0,1881.0,1161.0,CA
44,44,Shasta,1032.0,96.0,4346.0,335.0,18108.0,2196.0,1003.0,CA
45,45,Sierra,2.0,1.0,72.0,3.0,330.0,23.0,0.0,CA
46,46,Siskiyou,426.0,13.0,1056.0,86.0,3606.0,744.0,135.0,CA
47,47,Solano,236.0,676.0,25441.0,8629.0,14872.0,5361.0,7764.0,CA
48,48,Sonoma,581.0,283.0,31770.0,1062.0,28301.0,3596.0,2601.0,CA
49,49,Stanislaus,713.0,753.0,67712.0,2786.0,27678.0,5162.0,5652.0,CA
50,50,Sutter,171.0,106.0,8929.0,555.0,8816.0,1539.0,3192.0,CA
51,51,Tehama,243.0,20.0,4642.0,87.0,5588.0,399.0,130.0,CA
52,52,Trinity,100.0,3.0,170.0,3.0,1068.0,151.0,0.0,CA
53,53,Tulare,717.0,162.0,81695.0,1099.0,15955.0,2526.0,2884.0,CA
54,54,Tuolumne,147.0,26.0,1049.0,43.0,4335.0,350.0,95.0,CA
55,55,Ventura,288.0,250.0,81164.0,1572.0,38606.0,5041.0,8391.0,CA
56,56,Yolo,151.0,165.0,14422.0,844.0,10034.0,1533.0,3420.0,CA
57,57,Yuba,293.0,74.0,5786.0,528.0,6051.0,1059.0,1124.0,CA

In [9]:
ca_clean_df.drop(columns='index',inplace =True)
ca_clean_df = ca_clean_df.rename( columns= {'ASIAN_TOTAL':'ASIAN',
                                           'OTHER/MULTI':'OTHER_MULTI'})
ca_clean_df

,COUNTY,AMERICAN_INDIAN,PACIFIC_ISLANDER,LATINO,AFRICAN_AMERICAN,WHITE,OTHER_MULTI,ASIAN,STATE
0,Alameda,597.0,2276.0,77433.0,20865.0,39186.0,16102.0,70872.0,CA
1,Alpine,36.0,0.0,2.0,0.0,26.0,6.0,0.0,CA
2,Amador,99.0,8.0,925.0,20.0,2765.0,309.0,40.0,CA
3,Butte,690.0,100.0,7469.0,602.0,17002.0,2270.0,1901.0,CA
4,Calaveras,82.0,5.0,1128.0,39.0,3671.0,342.0,48.0,CA
5,Colusa,55.0,9.0,3749.0,33.0,780.0,49.0,55.0,CA
6,Contra Costa,534.0,1100.0,65518.0,15329.0,51141.0,14070.0,30714.0,CA
7,Del Norte,613.0,3.0,942.0,25.0,2228.0,0.0,211.0,CA
8,El Dorado,240.0,78.0,6260.0,350.0,20759.0,1852.0,1587.0,CA
9,Fresno,1199.0,480.0,135997.0,10046.0,34222.0,5048.0,20866.0,CA
10,Glenn,120.0,6.0,3311.0,25.0,2241.0,195.0,144.0,CA
11,Humboldt,1614.0,95.0,3392.0,184.0,10370.0,1813.0,638.0,CA
12,Imperial,359.0,11.0,34731.0,245.0,1587.0,234.0,208.0,CA
13,Inyo,447.0,5.0,2386.0,317.0,1032.0,257.0,32.0,CA
14,Kern,990.0,424.0,129945.0,10764.0,44193.0,5221.0,7373.0,CA
15,Kings,305.0,67.0,21147.0,1072.0,5647.0,952.0,761.0,CA
16,Lake,398.0,13.0,3794.0,149.0,4722.0,675.0,99.0,CA
17,Lassen,147.0,57.0,733.0,48.0,2514.0,251.0,61.0,CA
18,Los Angeles,2835.0,4135.0,940398.0,103205.0,196504.0,46448.0,142997.0,CA
19,Madera,353.0,21.0,23921.0,457.0,6167.0,705.0,520.0,CA
20,Marin,139.0,77.0,10556.0,555.0,18132.0,2290.0,1767.0,CA
21,Mariposa,67.0,0.0,376.0,9.0,1244.0,145.0,29.0,CA
22,Mendocino,889.0,10.0,5858.0,84.0,5356.0,885.0,163.0,CA
23,Merced,311.0,191.0,44197.0,1565.0,8682.0,1122.0,3463.0,CA
24,Modoc,71.0,6.0,492.0,13.0,732.0,65.0,15.0,CA
25,Mono,26.0,4.0,1102.0,46.0,698.0,37.0,23.0,CA
26,Monterey,211.0,358.0,62332.0,1030.0,9259.0,1618.0,2579.0,CA
27,Napa,43.0,38.0,11352.0,386.0,5738.0,788.0,1677.0,CA
28,Nevada,119.0,19.0,2355.0,159.0,7921.0,797.0,155.0,CA
29,Orange,891.0,1462.0,232562.0,6131.0,118553.0,24212.0,89801.0,CA
30,Placer,469.0,295.0,15498.0,1586.0,44613.0,5688.0,7059.0,CA
31,Plumas,77.0,1.0,354.0,28.0,1580.0,168.0,11.0,CA
32,Riverside,1940.0,1487.0,277550.0,25619.0,85811.0,17201.0,21913.0,CA
33,Sacramento,1370.0,3443.0,81076.0,27524.0,71579.0,19615.0,44933.0,CA
34,San Benito,37.0,19.0,8777.0,49.0,2130.0,300.0,233.0,CA
35,San Bernardino,1702.0,1613.0,268967.0,33170.0,67924.0,12851.0,21041.0,CA
36,San Diego,2409.0,2140.0,242900.0,21390.0,148456.0,35741.0,49749.0,CA
37,San Francisco,187.0,515.0,20038.0,4975.0,9082.0,6733.0,20382.0,CA
38,San Joaquin,1031.0,1073.0,81165.0,11599.0,26156.0,7026.0,24300.0,CA
39,San Luis Obispo,137.0,56.0,14117.0,289.0,17237.0,1652.0,899.0,CA
40,San Mateo,138.0,1594.0,35614.0,1225.0,22328.0,10179.0,22476.0,CA
41,Santa Barbara,256.0,83.0,48645.0,603.0,15217.0,2407.0,1795.0,CA
42,Santa Clara,794.0,1129.0,100852.0,4750.0,49243.0,16340.0,90341.0,CA
43,Santa Cruz,155.0,61.0,23028.0,304.0,13961.0,1881.0,1161.0,CA
44,Shasta,1032.0,96.0,4346.0,335.0,18108.0,2196.0,1003.0,CA
45,Sierra,2.0,1.0,72.0,3.0,330.0,23.0,0.0,CA
46,Siskiyou,426.0,13.0,1056.0,86.0,3606.0,744.0,135.0,CA
47,Solano,236.0,676.0,25441.0,8629.0,14872.0,5361.0,7764.0,CA
48,Sonoma,581.0,283.0,31770.0,1062.0,28301.0,3596.0,2601.0,CA
49,Stanislaus,713.0,753.0,67712.0,2786.0,27678.0,5162.0,5652.0,CA
50,Sutter,171.0,106.0,8929.0,555.0,8816.0,1539.0,3192.0,CA
51,Tehama,243.0,20.0,4642.0,87.0,5588.0,399.0,130.0,CA
52,Trinity,100.0,3.0,170.0,3.0,1068.0,151.0,0.0,CA
53,Tulare,717.0,162.0,81695.0,1099.0,15955.0,2526.0,2884.0,CA
54,Tuolumne,147.0,26.0,1049.0,43.0,4335.0,350.0,95.0,CA
55,Ventura,288.0,250.0,81164.0,1572.0,38606.0,5041.0,8391.0,CA
56,Yolo,151.0,165.0,14422.0,844.0,10034.0,1533.0,3420.0,CA
57,Yuba,293.0,74.0,5786.0,528.0,6051.0,1059.0,1124.0,CA

# Oregon Data

In [10]:
url= "https://www.oregon.gov/ode/reports-and-data/students/Documents/fallmembershipreport_20192020.xlsx"

or_enrollment_data = pd.read_excel(url, sheet_name = "District (19-20)")
or_enrollment_data
list(or_enrollment_data.columns)
or_clean = or_enrollment_data[['County', 
                   '2019-20 American Indian/Alaska Native ', 
                   '2019-20 Asian ', 
                   '2019-20 Native Hawaiian/ Pacific Islander', 
                   '2019-20 Black/African American ', 
                   '2019-20 Hispanic/ Latino', 
                   '2019-20 White ', 
                   '2019-20 Multiracial ']].copy()
or_clean = or_clean.groupby(or_clean['County']).sum()

In [11]:
or_clean['STATE'] = "OR"
or_clean

,2019-20 American Indian/Alaska Native,2019-20 Asian,2019-20 Native Hawaiian/ Pacific Islander,2019-20 Black/African American,2019-20 Hispanic/ Latino,2019-20 White,2019-20 Multiracial,STATE
County,,,,,,,,
Baker,42,54,10,31,469,3621,223,OR
Benton,69,420,38,88,1435,6369,652,OR
Clackamas,235,3029,256,639,9274,41984,4305,OR
Clatsop,36,53,24,20,1002,3852,219,OR
Columbia,85,71,25,39,757,5997,480,OR
Coos,266,100,40,91,1265,7401,901,OR
Crook,29,12,3,12,466,2399,150,OR
Curry,70,15,3,9,306,1530,324,OR
Deschutes,179,297,81,161,3732,21810,977,OR
Douglas,224,95,35,47,1452,11583,1008,OR
Gilliam,8,0,3,0,39,254,6,OR
Grant,16,6,3,3,45,804,30,OR
Harney,40,12,4,14,141,1786,146,OR
Hood River,51,39,1,30,1729,2098,127,OR
Jackson,216,280,134,182,7288,20571,1874,OR
Jefferson,956,17,11,23,1196,1312,93,OR
Josephine,115,59,20,34,1465,8532,807,OR
Klamath,548,87,20,88,2041,6315,701,OR
Lake,25,9,2,1,191,904,74,OR
Lane,599,771,193,557,7462,32969,3631,OR
Lincoln,256,44,17,20,1274,3506,514,OR
Linn,258,223,68,152,3463,17120,1550,OR
Malheur,16,22,5,32,2593,2319,119,OR
Marion,448,1028,1067,756,26420,30280,2858,OR
Morrow,9,3,4,3,1359,1052,42,OR
Multnomah,649,6908,1349,7773,21289,46554,8154,OR
Polk,106,61,25,45,1796,4673,347,OR
Sherman,4,0,0,0,30,221,12,OR
Tillamook,38,25,14,16,864,2416,182,OR
Umatilla,477,99,32,55,5995,6676,532,OR
Union,47,29,47,26,294,3351,177,OR
Wallowa,1,0,1,0,45,775,42,OR
Wasco,86,24,52,13,1205,1997,178,OR
Washington,396,9120,781,2025,25580,43231,6220,OR
Wheeler,9,24,5,26,136,1331,87,OR
Yamhill,401,172,58,165,4175,10664,564,OR

In [12]:
or_clean_df  =  pd.DataFrame(or_clean.to_records())
or_clean_df

,County,2019-20 American Indian/Alaska Native,2019-20 Asian,2019-20 Native Hawaiian/ Pacific Islander,2019-20 Black/African American,2019-20 Hispanic/ Latino,2019-20 White,2019-20 Multiracial,STATE
0,Baker,42,54,10,31,469,3621,223,OR
1,Benton,69,420,38,88,1435,6369,652,OR
2,Clackamas,235,3029,256,639,9274,41984,4305,OR
3,Clatsop,36,53,24,20,1002,3852,219,OR
4,Columbia,85,71,25,39,757,5997,480,OR
5,Coos,266,100,40,91,1265,7401,901,OR
6,Crook,29,12,3,12,466,2399,150,OR
7,Curry,70,15,3,9,306,1530,324,OR
8,Deschutes,179,297,81,161,3732,21810,977,OR
9,Douglas,224,95,35,47,1452,11583,1008,OR
10,Gilliam,8,0,3,0,39,254,6,OR
11,Grant,16,6,3,3,45,804,30,OR
12,Harney,40,12,4,14,141,1786,146,OR
13,Hood River,51,39,1,30,1729,2098,127,OR
14,Jackson,216,280,134,182,7288,20571,1874,OR
15,Jefferson,956,17,11,23,1196,1312,93,OR
16,Josephine,115,59,20,34,1465,8532,807,OR
17,Klamath,548,87,20,88,2041,6315,701,OR
18,Lake,25,9,2,1,191,904,74,OR
19,Lane,599,771,193,557,7462,32969,3631,OR
20,Lincoln,256,44,17,20,1274,3506,514,OR
21,Linn,258,223,68,152,3463,17120,1550,OR
22,Malheur,16,22,5,32,2593,2319,119,OR
23,Marion,448,1028,1067,756,26420,30280,2858,OR
24,Morrow,9,3,4,3,1359,1052,42,OR
25,Multnomah,649,6908,1349,7773,21289,46554,8154,OR
26,Polk,106,61,25,45,1796,4673,347,OR
27,Sherman,4,0,0,0,30,221,12,OR
28,Tillamook,38,25,14,16,864,2416,182,OR
29,Umatilla,477,99,32,55,5995,6676,532,OR
30,Union,47,29,47,26,294,3351,177,OR
31,Wallowa,1,0,1,0,45,775,42,OR
32,Wasco,86,24,52,13,1205,1997,178,OR
33,Washington,396,9120,781,2025,25580,43231,6220,OR
34,Wheeler,9,24,5,26,136,1331,87,OR
35,Yamhill,401,172,58,165,4175,10664,564,OR

In [13]:
or_clean_df.rename(
  columns={'County':'COUNTY',
 '2019-20 American Indian/Alaska Native ':'AMERICAN_INDIAN',
 '2019-20 Native Hawaiian/ Pacific Islander':'PACIFIC_ISLANDER',
 '2019-20 Hispanic/ Latino':'LATINO',
 '2019-20 Black/African American ':'AFRICAN_AMERICAN',
 '2019-20 White ':'WHITE',
 '2019-20 Multiracial ':'OTHER_MULTI',
 '2019-20 Asian ':'ASIAN',
  },
  inplace=True
)
or_clean_df

,COUNTY,AMERICAN_INDIAN,ASIAN,PACIFIC_ISLANDER,AFRICAN_AMERICAN,LATINO,WHITE,OTHER_MULTI,STATE
0,Baker,42,54,10,31,469,3621,223,OR
1,Benton,69,420,38,88,1435,6369,652,OR
2,Clackamas,235,3029,256,639,9274,41984,4305,OR
3,Clatsop,36,53,24,20,1002,3852,219,OR
4,Columbia,85,71,25,39,757,5997,480,OR
5,Coos,266,100,40,91,1265,7401,901,OR
6,Crook,29,12,3,12,466,2399,150,OR
7,Curry,70,15,3,9,306,1530,324,OR
8,Deschutes,179,297,81,161,3732,21810,977,OR
9,Douglas,224,95,35,47,1452,11583,1008,OR
10,Gilliam,8,0,3,0,39,254,6,OR
11,Grant,16,6,3,3,45,804,30,OR
12,Harney,40,12,4,14,141,1786,146,OR
13,Hood River,51,39,1,30,1729,2098,127,OR
14,Jackson,216,280,134,182,7288,20571,1874,OR
15,Jefferson,956,17,11,23,1196,1312,93,OR
16,Josephine,115,59,20,34,1465,8532,807,OR
17,Klamath,548,87,20,88,2041,6315,701,OR
18,Lake,25,9,2,1,191,904,74,OR
19,Lane,599,771,193,557,7462,32969,3631,OR
20,Lincoln,256,44,17,20,1274,3506,514,OR
21,Linn,258,223,68,152,3463,17120,1550,OR
22,Malheur,16,22,5,32,2593,2319,119,OR
23,Marion,448,1028,1067,756,26420,30280,2858,OR
24,Morrow,9,3,4,3,1359,1052,42,OR
25,Multnomah,649,6908,1349,7773,21289,46554,8154,OR
26,Polk,106,61,25,45,1796,4673,347,OR
27,Sherman,4,0,0,0,30,221,12,OR
28,Tillamook,38,25,14,16,864,2416,182,OR
29,Umatilla,477,99,32,55,5995,6676,532,OR
30,Union,47,29,47,26,294,3351,177,OR
31,Wallowa,1,0,1,0,45,775,42,OR
32,Wasco,86,24,52,13,1205,1997,178,OR
33,Washington,396,9120,781,2025,25580,43231,6220,OR
34,Wheeler,9,24,5,26,136,1331,87,OR
35,Yamhill,401,172,58,165,4175,10664,564,OR

## Washington Data

In [14]:
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
#client = Socrata("data.wa.gov", None)

# Example authenticated client (needed for non-public datasets):
client = Socrata("data.wa.gov",
                  apitoken,
                  username=username1,
                  password=password1)

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("gtd3-scga", limit=20000)

# Convert to pandas DataFrame
wa_data_df = pd.DataFrame.from_records(results)
wa_data_df

,schoolyear,organizationlevel,county,esdname,districtname,schoolname,gradelevel,all_students,female,gender_x,...,non_mobile,non_section_504,students_without_disabilities,dataasof,esdorganizationid,districtcode,districtorganizationid,schoolcode,schoolorganizationid,currentschooltype
0,2019-20,State,Multiple,State Total,State Total,State Total,10th Grade,84690,41154,139,...,82499,79726,74529,2020-02-11T00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-20,State,Multiple,State Total,State Total,State Total,11th Grade,83731,40877,153,...,81156,78730,74017,2020-02-11T00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-20,State,Multiple,State Total,State Total,State Total,12th Grade,91585,44319,194,...,86412,86395,79242,2020-02-11T00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-20,State,Multiple,State Total,State Total,State Total,1st Grade,83765,40675,21,...,81966,82713,73240,2020-02-11T00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-20,State,Multiple,State Total,State Total,State Total,2nd Grade,83362,40569,29,...,81697,81768,72221,2020-02-11T00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19925,2019-20,District,Yakima,Educational Service District 105,Zillah School District,District Total,8th Grade,114,50,NaN,...,113,111,103,2020-02-11T00:00:00.000,100002,39205,100305,NaN,NaN,NaN
19926,2019-20,District,Yakima,Educational Service District 105,Zillah School District,District Total,9th Grade,96,38,NaN,...,95,96,85,2020-02-11T00:00:00.000,100002,39205,100305,NaN,NaN,NaN
19927,2019-20,District,Yakima,Educational Service District 105,Zillah School District,District Total,AllGrades,1335,620,NaN,...,1313,1311,1174,2020-02-11T00:00:00.000,100002,39205,100305,NaN,NaN,NaN
19928,2019-20,District,Yakima,Educational Service District 105,Zillah School District,District Total,Kindergarten,77,40,NaN,...,77,77,72,2020-02-11T00:00:00.000,100002,39205,100305,NaN,NaN,NaN
19929,2019-20,District,Yakima,Educational Service District 105,Zillah School District,District Total,Pre-Kindergarten,49,20,NaN,...,48,49,29,2020-02-11T00:00:00.000,100002,39205,100305,NaN,NaN,NaN

In [15]:
wa_temp = wa_data_df.loc[wa_data_df['organizationlevel'] != 'State'].copy()
wa_temp.fillna(0, inplace=True)
wa_temp['STATE'] = 'WA'
wa_clean = wa_temp[['county',
                    'american_indian_alaskan_native',
                    'asian',
                    'black_african_american',
                    'hispanic_latino_of_any_race',
                    'native_hawaiian_other_pacific',
                    'two_or_more_races',
                    'white']].copy()



wa_clean['asian'] = wa_clean['asian'].astype(str).astype(int)
wa_clean['american_indian_alaskan_native'] = wa_clean['american_indian_alaskan_native'].astype(str).astype(int)
wa_clean['black_african_american'] = wa_clean['black_african_american'].astype(str).astype(int)
wa_clean['hispanic_latino_of_any_race'] = wa_clean['hispanic_latino_of_any_race'].astype(str).astype(int)
wa_clean['native_hawaiian_other_pacific'] = wa_clean['native_hawaiian_other_pacific'].astype(str).astype(int)
wa_clean['two_or_more_races'] = wa_clean['two_or_more_races'].astype(str).astype(int)
wa_clean['white'] = wa_clean['white'].astype(str).astype(int)


wa_clean = wa_clean.groupby(wa_clean['county']).sum()

In [16]:
wa_clean['STATE'] = 'WA'

# wa_clean = wa_temp[['county',
#                     'american_indian_alaskan_native',
#                     'asian',
#                     'black_african_american',
#                     'hispanic_latino_of_any_race',
#                     'native_hawaiian_other_pacific',
#                     'two_or_more_races',
#                     'white']].copy()

# #wa_clean = wa_clean.groupby(wa_clean['county']).sum()
wa_clean

,american_indian_alaskan_native,asian,black_african_american,hispanic_latino_of_any_race,native_hawaiian_other_pacific,two_or_more_races,white,STATE
county,,,,,,,,
Adams,40,84,24,17748,8,136,3864,WA
Asotin,232,120,124,1036,8,732,11144,WA
Benton,596,3548,2504,50682,304,6964,90738,WA
Chelan,152,484,212,25900,28,1208,25486,WA
Clallam,2524,608,596,6268,112,4046,24506,WA
Clark,1348,13452,6518,63952,4646,24864,206744,WA
Columbia,24,24,20,324,0,32,1364,WA
Cowlitz,804,896,520,12724,588,4184,50916,WA
Douglas,140,200,96,16540,16,772,13392,WA
Ferry,912,8,28,116,20,324,2000,WA
Franklin,152,1056,820,60896,204,2052,20964,WA
Garfield,0,20,8,108,0,36,1276,WA
Grant,1304,476,524,52220,48,2008,30288,WA
Grays Harbor,2324,488,384,9736,60,3488,27928,WA
Island,156,1588,1156,5492,204,3992,22028,WA
Jefferson,196,140,76,852,24,852,9114,WA
King,6876,240142,106870,221494,17912,116634,515754,WA
Kitsap,2170,5044,3684,21906,1772,20450,92884,WA
Kittitas,176,320,188,3920,20,712,16494,WA
Klickitat,388,48,32,2824,16,624,8784,WA
Lewis,376,372,476,11018,80,2458,35786,WA
Lincoln,268,60,32,396,4,428,7612,WA
Mason,1204,372,584,10406,180,3548,25530,WA
Okanogan,2902,916,1314,12040,204,2186,23558,WA
Pacific,200,260,128,3028,24,736,8470,WA
Pend Oreille,288,40,24,472,4,456,5374,WA
Pierce,6276,30412,41596,112552,16100,76550,282606,WA
San Juan,56,120,32,1400,8,392,5630,WA
Skagit,1640,1200,540,27944,368,2948,44432,WA
Skamania,120,20,8,592,8,268,3524,WA
Snohomish,4896,42032,18320,93194,3546,41210,259138,WA
Spokane,3796,5702,7608,27358,4236,28824,244736,WA
Stevens,1920,340,256,2134,24,1700,19538,WA
Thurston,2320,8634,5188,28946,2244,21514,109688,WA
Wahkiakum,16,28,12,172,8,152,1664,WA
Walla Walla,144,336,244,15192,48,1272,19258,WA
Whatcom,4288,4772,1400,22292,316,8412,74690,WA
Whitman,164,1028,360,1768,44,1164,15268,WA
Yakima,7976,1384,884,154968,152,4634,52436,WA

In [17]:

wa_clean.rename(
  columns={'county':'COUNTY',
 'american_indian_alaskan_native':'AMERICAN_INDIAN',
 'native_hawaiian_other_pacific':'PACIFIC_ISLANDER',
 'hispanic_latino_of_any_race':'LATINO',
 'black_african_american':'AFRICAN_AMERICAN',
 '2019-20 White ':'WHITE',
 'two_or_more_races':'OTHER_MULTI',
 'asian':'ASIAN',
  },
  inplace=True
)
wa_clean

,AMERICAN_INDIAN,ASIAN,AFRICAN_AMERICAN,LATINO,PACIFIC_ISLANDER,OTHER_MULTI,white,STATE
county,,,,,,,,
Adams,40,84,24,17748,8,136,3864,WA
Asotin,232,120,124,1036,8,732,11144,WA
Benton,596,3548,2504,50682,304,6964,90738,WA
Chelan,152,484,212,25900,28,1208,25486,WA
Clallam,2524,608,596,6268,112,4046,24506,WA
Clark,1348,13452,6518,63952,4646,24864,206744,WA
Columbia,24,24,20,324,0,32,1364,WA
Cowlitz,804,896,520,12724,588,4184,50916,WA
Douglas,140,200,96,16540,16,772,13392,WA
Ferry,912,8,28,116,20,324,2000,WA
Franklin,152,1056,820,60896,204,2052,20964,WA
Garfield,0,20,8,108,0,36,1276,WA
Grant,1304,476,524,52220,48,2008,30288,WA
Grays Harbor,2324,488,384,9736,60,3488,27928,WA
Island,156,1588,1156,5492,204,3992,22028,WA
Jefferson,196,140,76,852,24,852,9114,WA
King,6876,240142,106870,221494,17912,116634,515754,WA
Kitsap,2170,5044,3684,21906,1772,20450,92884,WA
Kittitas,176,320,188,3920,20,712,16494,WA
Klickitat,388,48,32,2824,16,624,8784,WA
Lewis,376,372,476,11018,80,2458,35786,WA
Lincoln,268,60,32,396,4,428,7612,WA
Mason,1204,372,584,10406,180,3548,25530,WA
Okanogan,2902,916,1314,12040,204,2186,23558,WA
Pacific,200,260,128,3028,24,736,8470,WA
Pend Oreille,288,40,24,472,4,456,5374,WA
Pierce,6276,30412,41596,112552,16100,76550,282606,WA
San Juan,56,120,32,1400,8,392,5630,WA
Skagit,1640,1200,540,27944,368,2948,44432,WA
Skamania,120,20,8,592,8,268,3524,WA
Snohomish,4896,42032,18320,93194,3546,41210,259138,WA
Spokane,3796,5702,7608,27358,4236,28824,244736,WA
Stevens,1920,340,256,2134,24,1700,19538,WA
Thurston,2320,8634,5188,28946,2244,21514,109688,WA
Wahkiakum,16,28,12,172,8,152,1664,WA
Walla Walla,144,336,244,15192,48,1272,19258,WA
Whatcom,4288,4772,1400,22292,316,8412,74690,WA
Whitman,164,1028,360,1768,44,1164,15268,WA
Yakima,7976,1384,884,154968,152,4634,52436,WA

In [18]:
wa_clean['STATE'] = 'WA'
wa_clean

,AMERICAN_INDIAN,ASIAN,AFRICAN_AMERICAN,LATINO,PACIFIC_ISLANDER,OTHER_MULTI,white,STATE
county,,,,,,,,
Adams,40,84,24,17748,8,136,3864,WA
Asotin,232,120,124,1036,8,732,11144,WA
Benton,596,3548,2504,50682,304,6964,90738,WA
Chelan,152,484,212,25900,28,1208,25486,WA
Clallam,2524,608,596,6268,112,4046,24506,WA
Clark,1348,13452,6518,63952,4646,24864,206744,WA
Columbia,24,24,20,324,0,32,1364,WA
Cowlitz,804,896,520,12724,588,4184,50916,WA
Douglas,140,200,96,16540,16,772,13392,WA
Ferry,912,8,28,116,20,324,2000,WA
Franklin,152,1056,820,60896,204,2052,20964,WA
Garfield,0,20,8,108,0,36,1276,WA
Grant,1304,476,524,52220,48,2008,30288,WA
Grays Harbor,2324,488,384,9736,60,3488,27928,WA
Island,156,1588,1156,5492,204,3992,22028,WA
Jefferson,196,140,76,852,24,852,9114,WA
King,6876,240142,106870,221494,17912,116634,515754,WA
Kitsap,2170,5044,3684,21906,1772,20450,92884,WA
Kittitas,176,320,188,3920,20,712,16494,WA
Klickitat,388,48,32,2824,16,624,8784,WA
Lewis,376,372,476,11018,80,2458,35786,WA
Lincoln,268,60,32,396,4,428,7612,WA
Mason,1204,372,584,10406,180,3548,25530,WA
Okanogan,2902,916,1314,12040,204,2186,23558,WA
Pacific,200,260,128,3028,24,736,8470,WA
Pend Oreille,288,40,24,472,4,456,5374,WA
Pierce,6276,30412,41596,112552,16100,76550,282606,WA
San Juan,56,120,32,1400,8,392,5630,WA
Skagit,1640,1200,540,27944,368,2948,44432,WA
Skamania,120,20,8,592,8,268,3524,WA
Snohomish,4896,42032,18320,93194,3546,41210,259138,WA
Spokane,3796,5702,7608,27358,4236,28824,244736,WA
Stevens,1920,340,256,2134,24,1700,19538,WA
Thurston,2320,8634,5188,28946,2244,21514,109688,WA
Wahkiakum,16,28,12,172,8,152,1664,WA
Walla Walla,144,336,244,15192,48,1272,19258,WA
Whatcom,4288,4772,1400,22292,316,8412,74690,WA
Whitman,164,1028,360,1768,44,1164,15268,WA
Yakima,7976,1384,884,154968,152,4634,52436,WA

In [19]:
wa_clean['AMERICAN_INDIAN'] = round(wa_clean['AMERICAN_INDIAN'],1)
wa_clean

,AMERICAN_INDIAN,ASIAN,AFRICAN_AMERICAN,LATINO,PACIFIC_ISLANDER,OTHER_MULTI,white,STATE
county,,,,,,,,
Adams,40,84,24,17748,8,136,3864,WA
Asotin,232,120,124,1036,8,732,11144,WA
Benton,596,3548,2504,50682,304,6964,90738,WA
Chelan,152,484,212,25900,28,1208,25486,WA
Clallam,2524,608,596,6268,112,4046,24506,WA
Clark,1348,13452,6518,63952,4646,24864,206744,WA
Columbia,24,24,20,324,0,32,1364,WA
Cowlitz,804,896,520,12724,588,4184,50916,WA
Douglas,140,200,96,16540,16,772,13392,WA
Ferry,912,8,28,116,20,324,2000,WA
Franklin,152,1056,820,60896,204,2052,20964,WA
Garfield,0,20,8,108,0,36,1276,WA
Grant,1304,476,524,52220,48,2008,30288,WA
Grays Harbor,2324,488,384,9736,60,3488,27928,WA
Island,156,1588,1156,5492,204,3992,22028,WA
Jefferson,196,140,76,852,24,852,9114,WA
King,6876,240142,106870,221494,17912,116634,515754,WA
Kitsap,2170,5044,3684,21906,1772,20450,92884,WA
Kittitas,176,320,188,3920,20,712,16494,WA
Klickitat,388,48,32,2824,16,624,8784,WA
Lewis,376,372,476,11018,80,2458,35786,WA
Lincoln,268,60,32,396,4,428,7612,WA
Mason,1204,372,584,10406,180,3548,25530,WA
Okanogan,2902,916,1314,12040,204,2186,23558,WA
Pacific,200,260,128,3028,24,736,8470,WA
Pend Oreille,288,40,24,472,4,456,5374,WA
Pierce,6276,30412,41596,112552,16100,76550,282606,WA
San Juan,56,120,32,1400,8,392,5630,WA
Skagit,1640,1200,540,27944,368,2948,44432,WA
Skamania,120,20,8,592,8,268,3524,WA
Snohomish,4896,42032,18320,93194,3546,41210,259138,WA
Spokane,3796,5702,7608,27358,4236,28824,244736,WA
Stevens,1920,340,256,2134,24,1700,19538,WA
Thurston,2320,8634,5188,28946,2244,21514,109688,WA
Wahkiakum,16,28,12,172,8,152,1664,WA
Walla Walla,144,336,244,15192,48,1272,19258,WA
Whatcom,4288,4772,1400,22292,316,8412,74690,WA
Whitman,164,1028,360,1768,44,1164,15268,WA
Yakima,7976,1384,884,154968,152,4634,52436,WA

In [20]:
wa_clean_df  =  pd.DataFrame(wa_clean.to_records())

wa_clean_df = wa_clean_df.rename(columns={'county':'COUNTY',
                                         'white':'WHITE'})
wa_clean_df

,COUNTY,AMERICAN_INDIAN,ASIAN,AFRICAN_AMERICAN,LATINO,PACIFIC_ISLANDER,OTHER_MULTI,WHITE,STATE
0,Adams,40,84,24,17748,8,136,3864,WA
1,Asotin,232,120,124,1036,8,732,11144,WA
2,Benton,596,3548,2504,50682,304,6964,90738,WA
3,Chelan,152,484,212,25900,28,1208,25486,WA
4,Clallam,2524,608,596,6268,112,4046,24506,WA
5,Clark,1348,13452,6518,63952,4646,24864,206744,WA
6,Columbia,24,24,20,324,0,32,1364,WA
7,Cowlitz,804,896,520,12724,588,4184,50916,WA
8,Douglas,140,200,96,16540,16,772,13392,WA
9,Ferry,912,8,28,116,20,324,2000,WA
10,Franklin,152,1056,820,60896,204,2052,20964,WA
11,Garfield,0,20,8,108,0,36,1276,WA
12,Grant,1304,476,524,52220,48,2008,30288,WA
13,Grays Harbor,2324,488,384,9736,60,3488,27928,WA
14,Island,156,1588,1156,5492,204,3992,22028,WA
15,Jefferson,196,140,76,852,24,852,9114,WA
16,King,6876,240142,106870,221494,17912,116634,515754,WA
17,Kitsap,2170,5044,3684,21906,1772,20450,92884,WA
18,Kittitas,176,320,188,3920,20,712,16494,WA
19,Klickitat,388,48,32,2824,16,624,8784,WA
20,Lewis,376,372,476,11018,80,2458,35786,WA
21,Lincoln,268,60,32,396,4,428,7612,WA
22,Mason,1204,372,584,10406,180,3548,25530,WA
23,Okanogan,2902,916,1314,12040,204,2186,23558,WA
24,Pacific,200,260,128,3028,24,736,8470,WA
25,Pend Oreille,288,40,24,472,4,456,5374,WA
26,Pierce,6276,30412,41596,112552,16100,76550,282606,WA
27,San Juan,56,120,32,1400,8,392,5630,WA
28,Skagit,1640,1200,540,27944,368,2948,44432,WA
29,Skamania,120,20,8,592,8,268,3524,WA
30,Snohomish,4896,42032,18320,93194,3546,41210,259138,WA
31,Spokane,3796,5702,7608,27358,4236,28824,244736,WA
32,Stevens,1920,340,256,2134,24,1700,19538,WA
33,Thurston,2320,8634,5188,28946,2244,21514,109688,WA
34,Wahkiakum,16,28,12,172,8,152,1664,WA
35,Walla Walla,144,336,244,15192,48,1272,19258,WA
36,Whatcom,4288,4772,1400,22292,316,8412,74690,WA
37,Whitman,164,1028,360,1768,44,1164,15268,WA
38,Yakima,7976,1384,884,154968,152,4634,52436,WA

In [21]:
temp = pd.concat([ca_clean_df, wa_clean_df])

In [22]:
clean_df = pd.concat([temp, or_clean_df])

In [23]:
clean_df

,COUNTY,AMERICAN_INDIAN,PACIFIC_ISLANDER,LATINO,AFRICAN_AMERICAN,WHITE,OTHER_MULTI,ASIAN,STATE
0,Alameda,597.0,2276.0,77433.0,20865.0,39186.0,16102.0,70872.0,CA
1,Alpine,36.0,0.0,2.0,0.0,26.0,6.0,0.0,CA
2,Amador,99.0,8.0,925.0,20.0,2765.0,309.0,40.0,CA
3,Butte,690.0,100.0,7469.0,602.0,17002.0,2270.0,1901.0,CA
4,Calaveras,82.0,5.0,1128.0,39.0,3671.0,342.0,48.0,CA
...,...,...,...,...,...,...,...,...,...
31,Wallowa,1.0,1.0,45.0,0.0,775.0,42.0,0.0,OR
32,Wasco,86.0,52.0,1205.0,13.0,1997.0,178.0,24.0,OR
33,Washington,396.0,781.0,25580.0,2025.0,43231.0,6220.0,9120.0,OR
34,Wheeler,9.0,5.0,136.0,26.0,1331.0,87.0,24.0,OR
35,Yamhill,401.0,58.0,4175.0,165.0,10664.0,564.0,172.0,OR

In [24]:
rds_connection_string = "postgres:postgres@localhost:5432/ELT_Project"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [25]:
#Check for tables
engine.table_names()

['ELT']

In [33]:
clean_df.to_sql(name='ELT', con=engine, if_exists='append', index=False) #check other options for if_exists

In [32]:
pd.read_sql_query('SELECT * FROM "ELT"', con=engine).head()

,COUNTY,AMERICAN_INDIAN,PACIFIC_ISLANDER,LATINO,AFRICAN_AMERICAN,WHITE,OTHER_MULTI,ASIAN,STATE
0,Alameda,597.0,2276.0,77433.0,20865.0,39186.0,16102.0,70872.0,CA
1,Alpine,36.0,0.0,2.0,0.0,26.0,6.0,0.0,CA
2,Amador,99.0,8.0,925.0,20.0,2765.0,309.0,40.0,CA
3,Butte,690.0,100.0,7469.0,602.0,17002.0,2270.0,1901.0,CA
4,Calaveras,82.0,5.0,1128.0,39.0,3671.0,342.0,48.0,CA

In [ ]:
#https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html

#df.insert(0, 'New_ID', range(0, 0 + len(df)))
#df